$yellow : #edb138;
$grey:  #52677a;
$lightgrey: #E6E6E6;
$blue: #0072c6;
$white: #fff;
$error: #ce352c;
$black: #000;
$nightGrey: #222222;
$white2: #F8F8F8;
$white3: #DDD;

.fg-green{
  color:green;
}

.fg-red{
  color: red;
}